---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

---
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

<Layout title="IEEE Sensors 2022: Reflective-Mode Phase-Variation Permittivity Sensors Based On Coupled Resonators">
	<main>

		<img id="image" src="/assets/pcasac_reduced_white_bg.svg"width="270" alt="Pau" />
	
		<p class="instructions">
			
			<strong>Pau Casacuberta</strong>: (GS'22) was born in Sabadell (Barcelona), Spain, in 1997. He received the Bachelor’s Degree in Electronic Telecommunications Engineering and Computer Engineering from the Universitat Autònoma de Barcelona (UAB) in 2020, and the master’s degree in Telecommunications Engineering in 2022. He received the Collaboration fellowship by the Spanish Government in 2019 for developing his Bachelor’s Thesis in highly sensitive microwave sensors based in stepped impedance structures. Furthermore, he is currently working in the elaboration of his PhD, which is focused on the development of microwave sensors for the characterization of the composition of multicomponent liquid substances, with a research grant from FPU Program of the Universities Spanish Ministry.

		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://epapers.org/sensors2022/ESR/paper_details.php?paper_id=2159"
				title="ORCiD"
				body="Article entry in the Epapers page of the IEEE Sensors 2022 Conference."
			/>
			<Card
				href="/assets/2159.pdf"
				title="Paper Download"
				body="Sumbit done to the IEEE Sensors 2022 conference in PDF format."
			/>
			<Card
				href="assets/IEEE_Sensors_2022_PC_600dpi_compressed.pdf"
				title="Poster Download"
				body="Download the PDF verison of the poster."
			/>
			<Card
				href="WHOVA:pau.casacuberta@uab.cat"
				title="Coresponding author"
				body="Pau.Casacuberta@uab.cat"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	h1 {
		max-width: 60ch;
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	#image {
		float: left;
		padding: 2rem 2rem 1rem 1rem;
	}
		
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		color: white;
		background-color: rgba(0, 0, 0, 0.388);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.title-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>