---
// Example: Construct a canonical URL using your production domain
const canonicalURL = new URL(Astro.url);
---


<h1>The current URL is: {canonicalURL.hash}</h1>
<h1>The current URL pathname is: {Astro.url.pathname}</h1>
<h1>The current URL origin is: {Astro.url.hash}</h1>