---

import { AstroComponent, renderAstroComponent } from 'astro/dist/runtime/server/render/astro';
// Example: Construct a canonical URL using your production domain
---
<h1>The current url hash is:</h1>

<p id="hash"></p>



<script>
    document.getElementById("hash").innerHTML = window.location.hash;
</script>