---
export interface Props {
	title: string;
	description?: string; 
}

const title = Astro.props.title;
const description = Astro.props.description;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<title>{title}</title>
		<script defer data-domain="pau.engineer" src="https://plausible.io/js/script.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 255,255,255;
		--accent-back: #b5b5b5;
	}
	html {
		font-family: Arial;
		color: white;
		background-color: #0e0e0e;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
